.container {
  max-width: 1920px;
  margin: auto;
  padding: 50px 75px;
}

html {
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 20px;
  color: $primary-text-color;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h2,h3,h4 {
  line-height: 125%;
}

h2 {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 50px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

.back {
  background: $button-color;
}