.audit {

  &__info {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding-right: 24px;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 30px;
      width: 7px;
      height: 150px;
      background: $active-slide;
    }
  }
}