.footer {
  background-image: url(../images/footer/Rectangle\ 421.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
  display: flex;
  margin: auto;
  width: 100%;

  &__for-us {
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    padding: 50px 30px 55px 75px;
    background: $active-slide;
    max-width: 525px;
  }

  &__logo {
    display: block;
    margin-bottom: 32px;
  }

  &__info {
    margin-bottom: 70px;
  }

  &__contacts {
    font-size: 24px;
    display: flex;
    padding: 50px 105px 0 120px;
    color: #fff;
    
  }

  &__communication {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 260px;
    margin-right: 146px;
  }

  &__socials {
    display: flex;
    gap: 45px;

    & a{
      display: block;
    }
  }

  &__adres {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 293px;
    margin-right: 139px;
    
    & a {
      white-space: nowrap;
    }
  }

  &__title {
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 24px;
  }

  &__startup {
    & a:nth-of-type(1) {
      margin-right: 25px;
    }

    & a {
      display: inline-block;
    }
  }

  &__tel {
    white-space: nowrap;
  }

  &__gps {
    font-size: 20px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 210px;
      height: 1px;
      bottom: 3px;
      right: 35px;
      background-color: #DCDCDC;
    }
  }
}