body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  all: unset;
}

button {
  all: unset;
}

textarea {
  all: unset;
}

.container {
  max-width: 1920px;
  margin: auto;
  padding: 50px 75px;
}

html {
  font-family: Proxima Nova, sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 20px;
  color: #333;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h2, h3, h4 {
  line-height: 125%;
}

h2 {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 50px;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

.back {
  background: linear-gradient(134deg, #FFDF00 -7.01%, #FFB800 109.07%);
}

.nav {
  display: flex;
  padding: 25px 75px;
  justify-content: space-between;
  align-items: center;
  line-height: 125%;
  margin-bottom: 100px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  font-weight: 600;
}
@media (max-width: 1710px) {
  .nav__list {
    gap: 50px;
  }
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #333;
  opacity: 0.1;
  right: -50px;
  top: 0;
}
.nav__contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav__socials-list {
  display: flex;
  gap: 10px;
}
.nav__contacts-time {
  font-size: 16px;
}
.nav__contacts-phone {
  font-weight: 700;
  font-size: 26px;
  padding-right: 32px;
  position: relative;
}
.nav__contacts-phone::before, .nav__contacts-phone::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background-color: #333;
}
.nav__contacts-phone::before {
  transform: translateX(-110%) rotate(45deg);
}
.nav__contacts-phone::after {
  transform: translateX(-50%) rotate(-45deg);
}

.join {
  position: relative;
  background-image: url(../images/background/Vector1.png), url(../images/background/Vector2.png), url(../images/background/Vector3.png), url(../images/background/Group5.png), url(../images/background/Group4.png), url(../images/background/Vector6.png);
  background-repeat: no-repeat;
  font-weight: 700;
  margin-bottom: 100px;
  background-position: 0 0, 50% 70%, 70% 0, 100% 100%, 107% 20%, 60% 65%;
}
.join__title {
  font-weight: 900;
  font-size: 90px;
  line-height: 110%;
  margin-bottom: 20px;
}
.join__paragraph {
  margin-bottom: 40px;
}
.join__button {
  display: flex;
  align-items: center;
  background: linear-gradient(134deg, #FFDF00 -7.01%, #FFB800 109.07%);
  border-radius: 5px;
  padding: 20px 80px;
  margin-bottom: 210px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.join__button span {
  display: inline-block;
  transition: transform 0.3s ease;
}
.join__button .arrow {
  position: absolute;
  right: 70px;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateX(0);
}
.join__button:hover .arrow {
  opacity: 1;
  transform: translateX(10px);
}
.join__button:hover span {
  transform: translateX(-10px);
}
.join__slider {
  display: flex;
  gap: 16px;
}
.join__slide {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 50%;
}
.join__go {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 125%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  background: #FFD00E;
}

.audit__info {
  display: flex;
  align-items: center;
  gap: 40px;
}
.audit__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding-right: 24px;
}
.audit__description::before {
  content: "";
  position: absolute;
  right: 0;
  top: 30px;
  width: 7px;
  height: 150px;
  background: #FFD00E;
}

.best {
  background: url(../images/best/best/Group.png) no-repeat right center;
  margin: 50px 0;
}
.best__paragraph {
  max-width: 870px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 28px;
}
.best__logos {
  display: flex;
  align-items: baseline;
  gap: 50px;
}

.we {
  font-size: 16px;
  line-height: 125%;
}
.we__list {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 61px;
  margin: auto;
  margin-bottom: 50px;
}
.we__row {
  display: flex;
}
.we__item {
  display: flex;
  align-items: center;
}
.we__item-revers {
  flex-direction: row-reverse;
}
.we__paragraph-l {
  text-align: right;
}
.we__paragraph505 {
  max-width: 505px;
}
.we__paragraph490 {
  max-width: 490px;
}
.we__rec {
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background: linear-gradient(134deg, #FFDF00 -7.01%, #FFB800 109.07%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.we__row-0 {
  gap: 230px;
}
.we__row-1 {
  gap: 500px;
}
.we__row-2 {
  gap: 550px;
}
.we__item-title {
  margin-bottom: 10px;
}
.we__sun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.we__photo-list {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1710px) {
  .we__photo-list :nth-child(4) {
    display: none;
  }
}
.we__start {
  position: absolute;
  left: -28px;
  top: 38px;
  cursor: pointer;
}
.we__end {
  position: absolute;
  right: -28px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */